article {
    text-align: center;
}

h1 {
    margin: auto;
    font-size: 10em;
}

#searchbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 1em;
    width: 50%;
    padding: 0.5em 1em;
    margin: auto;
}

#glass {
    width: 1.5em;
}

#search, #search:focus {
    border:none;
    outline: none;
    width: 100%;
    padding-left: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "Titel Artist Genre"
    "Jahr Epoche Tonart"
    "Tempo Länge Datum";
}

.grid-container div {
    border: 1px solid grey;
    padding: 1em;
}

.title {
    grid-area: Titel;
}

.artist {
    grid-area: Artist;
}

.genre {
    grid-area: Genre;
}

.year {
    grid-area: Jahr;
}

.epoch {
    grid-area: Epoche;
}

.key {
    grid-area: Tonart;
}

.tempo {
    grid-area: Tempo;
}

.length {
    grid-area: Länge;
}

.date {
    grid-area: Datum;
}

.dropbtn {
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
}

.show {
    display: block;
}